<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ProdutoServlet</display-name>
    <servlet-name>ProdutoServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.ProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoServlet</servlet-name>
    <url-pattern>/ProdutoServlet</url-pattern>
  </servlet-mapping>
  <display-name>Confeitaria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListarProdutosServlet</display-name>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.ListarProdutosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <url-pattern>/ListarProdutosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImagemProdutoServlet</display-name>
    <servlet-name>ImagemProdutoServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.ImagemProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagemProdutoServlet</servlet-name>
    <url-pattern>/ImagemProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroAdmServlet</display-name>
    <servlet-name>CadastroAdmServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.CadastroAdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroAdmServlet</servlet-name>
    <url-pattern>/CadastroAdmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InativarProdutoServlet</display-name>
    <servlet-name>InativarProdutoServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.InativarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InativarProdutoServlet</servlet-name>
    <url-pattern>/InativarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarProd</display-name>
    <servlet-name>DeletarProd</servlet-name>
    <servlet-class>com.confeitaria.controller.DeletarProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarProd</servlet-name>
    <url-pattern>/DeletarProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProdutoServlet</display-name>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.EditarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <url-pattern>/EditarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarFuncionarios</display-name>
    <servlet-name>ListarFuncionarios</servlet-name>
    <servlet-class>com.confeitaria.controller.ListarFuncionarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarFuncionarios</servlet-name>
    <url-pattern>/ListarFuncionarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizaProdutoServlet</display-name>
    <servlet-name>AtualizaProdutoServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.AtualizaProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizaProdutoServlet</servlet-name>
    <url-pattern>/AtualizaProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthFilter</display-name>
    <servlet-name>AuthFilter</servlet-name>
    <servlet-class>com.confeitaria.controller.AuthFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthFilter</servlet-name>
    <url-pattern>/AuthFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthFilter1</display-name>
    <servlet-name>AuthFilter1</servlet-name>
    <servlet-class>com.confeitaria.filter.AuthFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthFilter1</servlet-name>
    <url-pattern>/AuthFilter1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PainelServlet</display-name>
    <servlet-name>PainelServlet</servlet-name>
    <servlet-class>com.confeitaria.controller.PainelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PainelServlet</servlet-name>
    <url-pattern>/PainelServlet</url-pattern>
  </servlet-mapping>
</web-app>